<div>

    <h3>Lista de productos vendidos</h3>

    {{#each this.mySales}}
        {{#if this.product.onSale}}
            {{else}}
                <div>
                    <img src="{{this.product.productPic}}" alt="game-img" width="100px">
                    <h5>Título: {{this.product.title}}</h5>
                    <h5>Precio: {{this.product.price}}€</h5>
                    <h5>Comprador: {{this.buyer.username}}</h5>
                    <h5>Dirección del comprador: {{this.address}}</h5>
                    <h5>Email del comprador: {{this.buyer.email}}</h5>
                </div>
        {{/if}}
    {{/each}}


</div>