<div class="order-details-container">

  <img src="{{this.orderDetails.product.productPic}}" alt="game-img" width="150px">

  <div class="text-details">

    <h3>Detalles del pedido</h3>

    <p><strong>Producto: </strong>{{this.orderDetails.product.title}}</p>
    <p><strong>Vendedor: </strong>{{this.orderDetails.seller.username}}</p>
    <p><strong>Precio: </strong>{{this.orderDetails.product.price}}€</p>
    <p><strong>Status: </strong>{{this.orderDetails.status}}</p>

  </div>

</div>