<div class="container-details">

  <div class="image-details">

    <img src="{{this.dbProduct.productPic}}" alt="imagen-producto" width="300px">

  </div>

  <div class="text-details">

    <div class="videogame-details">

      <h3>Detalles del Producto</h3>
      
        <p><strong>Título:</strong> {{this.dbProduct.title}}</p>
        <p><strong>Plataforma:</strong> {{this.dbProduct.platform}}</p>
        <p><strong>Edición:</strong> {{this.dbProduct.edition}}</p>
        <p><strong>Año:</strong> {{this.dbProduct.releaseYear}}</p>
        <p><strong>Desarrollador:</strong> {{this.dbProduct.developer}}</p>
        <p><strong>Distribuidor:</strong> {{this.dbProduct.publisher}}</p>
        <p><strong>Precio:</strong> {{this.dbProduct.price}}€</p>
        <p><strong>Género:</strong> {{this.dbProduct.genre}}</p>

    </div>

    <div class="button-details">

      <a href="/profile/{{this.dbProduct._id}}/edit">
        <button>Editar</button>
      </a>

    </div>

  </div>
  
</div>
