<div class="edit-product">

  <h3>Edita el producto</h3>

  <form action="/profile/{{this.productEdit._id}}/editProduct" method="post" enctype="multipart/form-data">

  <br>

  <label for="platform">Plataforma</label>
  <select name="platform" class="form-select">
    <option value="{{this.productEdit.platform}}" disabled selected>{{this.productEdit.platform}}</option>
    <option value="Nintendo Switch">Nintendo Switch</option>
    <option value="Playstation 5">Playstation 5</option>
    <option value="Playstation 4">Playstation 4</option>
    <option value="Xbox Series X">Xbox Series X</option>
    <option value="Xbox One">Xbox One</option>
  </select>

  {{!-- <input type="text" name="platform"value="{{this.productEdit.platform}}"> --}}

  <br>

  <label for="edition">Edición</label>
  <input type="text" name="edition" value="{{this.productEdit.edition}}" placeholder="Opcional">

  <br>

  <label for="price">Precio</label>
  <input type="number" name="price"value="{{this.productEdit.price}}">

  <br>

  <label for="productPic">Imagen del producto</label>
  <input type="file" name="productPic">

  <br>
  

  <button class="update-button">Actualizar producto</button>

  </form>

  <br>

  <form action="/profile/{{this.productEdit._id}}/delete" method="post">

    <button class="delete-button">Eliminar</button>

  </form>

</div>