<div class="edit-product">

  <h3>Edita el producto</h3>

  <form action="/profile/{{this.productEdit._id}}/editProduct" method="post" enctype="multipart/form-data">

  <label for="title">Título</label>
  <input type="text" name="title" value="{{this.productEdit.title}}">

  <br>

  <label for="platform">Plataforma</label>
  <select name="platform" class="form-select">
    <option value="{{this.productEdit.platform}}" disabled selected>{{this.productEdit.platform}}</option>
    <option value="Nintendo Switch">Nintendo Switch</option>
    <option value="Playstation 5">Playstation 5</option>
    <option value="Playstation 4">Playstation 4</option>
    <option value="Xbox Series X">Xbox Series X</option>
    <option value="Xbox One">Xbox One</option>
  </select>

  {{!-- <input type="text" name="platform"value="{{this.productEdit.platform}}"> --}}

  <br>

  <label for="edition">Edición</label>
  <input type="text" name="edition" value="{{this.productEdit.edition}}">

  <br>

  <label for="releaseYear">Año</label>
  <input type="number" name="releaseYear" value="{{this.productEdit.releaseYear}}">

  <br>

  <label for="developer">Desarrollador</label>
  <input type="text" name="developer" value="{{this.productEdit.developer}}">

  <br>

  <label for="publisher">Distribuidor</label>
  <input type="text" name="publisher" value="{{this.productEdit.publisher}}">

  <br>

  <label for="price">Precio</label>
  <input type="number" name="price"value="{{this.productEdit.price}}">

  <br>

  <label for="genre">Género</label>
  <input type="text" name="genre" value="{{this.productEdit.genre}}">

  <br>

  <label for="stock">Nº de unidades</label>
  <input type="number" name="stock" value="{{this.productEdit.stock}}">

  <br>

  <label for="productPic">Imagen del producto</label>
  <input type="file" name="productPic">

  <br>
  

  <button class="update-button">Actualizar producto</button>

  </form>

  <br>

  <form action="/profile/{{this.productEdit._id}}/delete" method="post">

    <button class="delete-button">Eliminar</button>

  </form>

</div>