<div class="profile-container">

  <div class="profile-column">

    <h3>Perfil</h3>

    <img src="{{this.userProfile.profilePic}}" alt="imagen-perfil" width="300px">

    <form action="/profile/upload-picture" method="post" enctype="multipart/form-data">

      <label for="profilePic" class="profile-label">Foto de perfil</label>
      <input type="file" name="profilePic" class="profile-input">

      <button class="profile-button">Subir imagen</button>

    </form>

  </div>

  <div class="profile-column">

    <p><strong>Usuario:</strong> {{userProfile.username}}</p>
    <p><strong>Email:</strong> {{userProfile.email}}</p>

      {{#if this.allVideogames}}

        <h4>Productos en Venta</h4>

        <div class="product-list">

          {{#each this.allVideogames}}

            <div class="product-item">

              <a href="/profile/{{this._id}}" class="product-link">
                <img class="profileGames" src="{{this.productPic}}" alt="game-img">

                <div class="product-title-box">

                  <span class="product-title">{{this.title}}</span>

                </div>

              </a>

            </div>

          {{/each}}

        </div>

      {{/if}}

    {{#if this.isUser}}

      <a href="/profile/add-product" class="create-button">
        <button>Crear producto</button>
      </a>

    {{/if}}

  </div>

</div>