<div class="container-details">

  <div class="image-details">

    <img src="{{this.oneVideogame.productPic}}" alt="imagen-producto" width="300px">

  </div>

  <div class="text-details">

    <div class="videogame-details">

      <h3>Detalles del Producto</h3>
      
        <p><strong>Título:</strong> {{this.oneVideogame.title}}</p>
        <p><strong>Plataforma:</strong> {{this.oneVideogame.platform}}</p>
        <p><strong>Edición:</strong> {{this.oneVideogame.edition}}</p>
        <p><strong>Año:</strong> {{this.apiProduct.released}}</p>
        <p><strong>Desarrollador:</strong>
        {{#each this.apiProduct.developers}}
         {{this.name}}, 
         {{/each}}</p>
        <p><strong>Distribuidor:</strong> 
        {{#each this.apiProduct.publishers}}
        {{this.name}}, 
        {{/each}}</p>
        <p><strong>Precio:</strong> {{this.oneVideogame.price}}€</p>
        <p><strong>Género:</strong> 
        {{#each this.apiProduct.genres}}
        {{this.name}}, 
        {{/each}}</p>
        <p><strong>Vendedor:</strong> {{this.oneVideogame.seller.username}}</p>

    </div>

      <a href="/order/{{this.oneVideogame._id}}/details">
        <button class="buy-button">Comprar</button>
      </a>

       <p class="RAWG">Información recibida gracias a <a href="https://rawg.io/apidocs">RAWG</a></p>

  </div>
  
</div>