<div>

  <h3>Detalles de producto</h3>

  <p>Título: {{this.oneVideogame.title}}</p>
  <p>Plataforma: {{this.oneVideogame.platform}}</p>
  <p>Edición: {{this.oneVideogame.edition}}</p>
  <p>Año: {{this.oneVideogame.releaseYear}}</p>
  <p>Desarrollador: {{this.oneVideogame.developer}}</p>
  <p>Distribuidor: {{this.oneVideogame.publisher}}</p>
  <p>Precio: {{this.oneVideogame.price}}€</p>
  <p>Género: {{this.oneVideogame.genre}}</p>
  <p>Stock: {{this.oneVideogame.stock}}</p>
  {{!-- TODO --}}
  <p>Vendedor: {{this.oneVideogame.seller.username}}</p>

  <a href="/product/{{this.oneVideogame._id}}/edit">
    <button>Editar</button>
  </a>

</div>